### Data Cleaning

#### Import Zone

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#### View df_final_web_data_pt_1

In [2]:
# df_final_web_data_pt_1
path_1 = "C:/Users/user/Jupyter/IronHack/Work_Python/Week5/MiniProject/df_final_web_data_pt_1.txt"
df_final_web_data_pt_1 = pd.read_csv(path_1)
df_final_web_data_pt_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 343141 entries, 0 to 343140
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     343141 non-null  int64
 1   visitor_id    343141 non-null  object
 2   visit_id      343141 non-null  object
 3   process_step  343141 non-null  object
 4   date_time     343141 non-null  object
dtypes: int64(1), object(4)
memory usage: 13.1+ MB

In [3]:
df_final_web_data_pt_1.nunique()

client_id        58391
visitor_id       62936
visit_id         75256
process_step         5
date_time       282666
dtype: int64

In [4]:
# Explore the size of the dataset
df_final_web_data_pt_1.shape

(343141, 5)

In [5]:
# Checking for Null Values
df_final_web_data_pt_1.isnull().value_counts()

client_id  visitor_id  visit_id  process_step  date_time
False      False       False     False         False        343141
Name: count, dtype: int64

In [6]:
# Check for null values in each column
df_final_web_data_pt_1.isna().any()

client_id       False
visitor_id      False
visit_id        False
process_step    False
date_time       False
dtype: bool

#### View df_final_web_data_pt_2

In [7]:
# df_final_web_data_pt_2
path_2 = "C:/Users/user/Jupyter/IronHack/Work_Python/Week5/MiniProject/df_final_web_data_pt_2.txt"
df_final_web_data_pt_2 = pd.read_csv(path_2)
df_final_web_data_pt_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 412264 entries, 0 to 412263
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     412264 non-null  int64
 1   visitor_id    412264 non-null  object
 2   visit_id      412264 non-null  object
 3   process_step  412264 non-null  object
 4   date_time     412264 non-null  object
dtypes: int64(1), object(4)
memory usage: 15.7+ MB

In [8]:
df_final_web_data_pt_2.nunique()

client_id        67430
visitor_id       71042
visit_id         82841
process_step         5
date_time       346697
dtype: int64

In [9]:
# Explore the size of the dataset
df_final_web_data_pt_2.shape

(412264, 5)

In [10]:
# Checking for Null Values
df_final_web_data_pt_2.isnull().value_counts()

client_id  visitor_id  visit_id  process_step  date_time
False      False       False     False         False        412264
Name: count, dtype: int64

In [11]:
# Check for null values in each column
df_final_web_data_pt_2.isna().any()

client_id       False
visitor_id      False
visit_id        False
process_step    False
date_time       False
dtype: bool

#### View df_final_demo

In [12]:
# df_final_demo
path_3 = "C:/Users/user/Jupyter/IronHack/Work_Python/Week5/MiniProject/df_final_demo.txt"
df_final_demo = pd.read_csv(path_3)
df_final_demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70609 entries, 0 to 70608
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   client_id         70609 non-null  int64
 1   clnt_tenure_yr    70595 non-null  float64
 2   clnt_tenure_mnth  70595 non-null  float64
 3   clnt_age          70594 non-null  float64
 4   gendr             70595 non-null  object
 5   num_accts         70595 non-null  float64
 6   bal               70595 non-null  float64
 7   calls_6_mnth      70595 non-null  float64
 8   logons_6_mnth     70595 non-null  float64
dtypes: float64(7), int64(1), object(1)
memory usage: 4.8+ MB

In [13]:
# Explore the size of the dataset
df_final_demo.shape

(70609, 9)

In [14]:
# Check for null values in each column
df_final_demo.isna().any()

client_id           False
clnt_tenure_yr       True
clnt_tenure_mnth     True
clnt_age             True
gendr                True
num_accts            True
bal                  True
calls_6_mnth         True
logons_6_mnth        True
dtype: bool

In [15]:
#number of unique values per column
df_final_demo.nunique()

client_id           70609
clnt_tenure_yr         54
clnt_tenure_mnth      482
clnt_age              165
gendr                   4
num_accts               8
bal                 70328
calls_6_mnth            8
logons_6_mnth           9
dtype: int64

#### View df_final_experiment_clients

In [16]:
# df_final_experiment_clients
path_4 = "C:/Users/user/Jupyter/IronHack/Work_Python/Week5/MiniProject/df_final_experiment_clients.txt"
df_final_experiment_clients = pd.read_csv(path_4)
df_final_experiment_clients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70609 entries, 0 to 70608
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   client_id  70609 non-null  int64
 1   Variation  50500 non-null  object
dtypes: int64(1), object(1)
memory usage: 1.1+ MB

In [17]:
# Explore the size of the dataset
df_final_experiment_clients.shape

(70609, 2)

In [18]:
# Check for null values in each column
df_final_experiment_clients.isna().any()

client_id    False
Variation     True
dtype: bool

In [19]:
# Number of unique values per column
df_final_experiment_clients.nunique()

client_id    70609
Variation        2
dtype: int64

#### Concatenating df_final_web_data_pt_1 y df_final_web_data_pt_2

In [20]:
df_concat_final_web_data= pd.concat([df_final_web_data_pt_1,df_final_web_data_pt_2], axis=0)

In [21]:
df_concat_final_web_data['date_time'] = pd.to_datetime(df_concat_final_web_data['date_time'])
df_concat_final_web_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 755405 entries, 0 to 412263
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     755405 non-null  int64
 1   visitor_id    755405 non-null  object
 2   visit_id      755405 non-null  object
 3   process_step  755405 non-null  object
 4   date_time     755405 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 34.6+ MB

In [22]:
# 125,821
df_concat_final_web_data.nunique()

client_id       120157
visitor_id      130236
visit_id        158095
process_step         5
date_time       629363
dtype: int64

In [23]:
# Check for null values in each column
df_concat_final_web_data.isna().any()

client_id       False
visitor_id      False
visit_id        False
process_step    False
date_time       False
dtype: bool

In [24]:
#number of unique values per column
df_concat_final_web_data.nunique()

client_id       120157
visitor_id      130236
visit_id        158095
process_step         5
date_time       629363
dtype: int64

In [25]:
mapping = {
    'start' : '0_start',
    'step_1' : '1_step_1', 
    'step_2' : '2_step_2',
    'step_3' : '3_step_3',
    'confirm' : '4_confirm',
}
# Reemplazamos los datos de M x 2 y los diversos datos de M por "Male" y F por "Female"
df_concat_final_web_data['process_step'] = df_concat_final_web_data['process_step'].replace(mapping)

#### Clean up:

##### df_final_demo

In [26]:
# Deleting: 7402828,355337,8412164,2222915,4876926,5277910,7616759,8191345,1227228,8611797,5144725,1037867,1618749,6021001
df_final_demo[['clnt_tenure_mnth', 'clnt_age', 'gendr', 'num_accts', 'bal', 'calls_6_mnth', 'logons_6_mnth']].isna().any()

clnt_tenure_mnth    True
clnt_age            True
gendr               True
num_accts           True
bal                 True
calls_6_mnth        True
logons_6_mnth       True
dtype: bool

In [27]:
df_final_demo.dropna(inplace=True)

In [28]:
df_final_demo.isna().any()

client_id           False
clnt_tenure_yr      False
clnt_tenure_mnth    False
clnt_age            False
gendr               False
num_accts           False
bal                 False
calls_6_mnth        False
logons_6_mnth       False
dtype: bool

In [29]:
df_final_demo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 70594 entries, 0 to 70608
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   client_id         70594 non-null  int64
 1   clnt_tenure_yr    70594 non-null  float64
 2   clnt_tenure_mnth  70594 non-null  float64
 3   clnt_age          70594 non-null  float64
 4   gendr             70594 non-null  object
 5   num_accts         70594 non-null  float64
 6   bal               70594 non-null  float64
 7   calls_6_mnth      70594 non-null  float64
 8   logons_6_mnth     70594 non-null  float64
dtypes: float64(7), int64(1), object(1)
memory usage: 5.4+ MB

In [30]:
df_final_demo.shape

(70594, 9)

In [31]:
df_final_demo['num_accts'] = df_final_demo['num_accts'].astype('Int64')
df_final_demo['calls_6_mnth'] = df_final_demo['calls_6_mnth'].astype('Int64')
df_final_demo['logons_6_mnth'] = df_final_demo['logons_6_mnth'].astype('Int64')

In [32]:
df_final_demo['bal'] = df_final_demo['bal'].round(2)

In [33]:
# Convert gendr with X value for U
df_final_demo['gendr'].replace('X','U',inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_13836\2157705592.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_final_demo['gendr'].replace('X','U',inplace=True)

In [34]:
df_final_demo['gendr'].value_counts()

gendr
U    24125
M    23724
F    22745
Name: count, dtype: int64

In [35]:
df_final_demo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 70594 entries, 0 to 70608
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   client_id         70594 non-null  int64
 1   clnt_tenure_yr    70594 non-null  float64
 2   clnt_tenure_mnth  70594 non-null  float64
 3   clnt_age          70594 non-null  float64
 4   gendr             70594 non-null  object
 5   num_accts         70594 non-null  Int64
 6   bal               70594 non-null  float64
 7   calls_6_mnth      70594 non-null  Int64
 8   logons_6_mnth     70594 non-null  Int64
dtypes: Int64(3), float64(4), int64(1), object(1)
memory usage: 5.6+ MB

##### df_final_experiment_clients

In [36]:
df_final_experiment_clients.dropna(inplace=True)

In [37]:
df_final_experiment_clients.shape

(50500, 2)

In [38]:
df_final_experiment_clients.isna().any()

client_id    False
Variation    False
dtype: bool

#### Export Clean CSV files

##### Clean CSV for concat file df_concat_final_web_data that comes from: df_final_web_data_pt_1, df_final_web_data_pt_2

In [39]:
df_concat_final_web_data.to_csv('C:/Users/user/Jupyter/IronHack/Work_Python/Week5/MiniProject/df_concat_final_web_data.csv',index=False,encoding='latin-1',sep=';')

##### Clean csv file for: df_final_experiment_clients

In [40]:
df_final_experiment_clients.to_csv('C:/Users/user/Jupyter/IronHack/Work_Python/Week5/MiniProject/df_final_experiment_clients.csv',index=False,encoding='latin-1',sep=';')

##### Clean csv file for: df_final_demo

In [41]:
df_final_demo.to_csv('C:/Users/user/Jupyter/IronHack/Work_Python/Week5/MiniProject/df_final_demo.csv',index=False,encoding='latin-1',sep=';')