### Client behavior analysis

#### Import Zone

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from functools import reduce

In [6]:
df_final_experiment_clients = pd.read_csv('C:/Users/user/Jupyter/IronHack/Work_Python/Week5/MiniProject/df_final_experiment_clients.csv',sep=';')

In [7]:
df_concat_final_web_data = pd.read_csv('C:/Users/user/Jupyter/IronHack/Work_Python/Week5/MiniProject/df_concat_final_web_data.csv',sep=';')

In [8]:
df_final_demo = pd.read_csv('C:/Users/user/Jupyter/IronHack/Work_Python/Week5/MiniProject/df_final_demo.csv',sep=';')

In [13]:
df_final_demo.drop(columns=['Unnamed: 0'], inplace=True)

In [9]:
df_final_experiment_clients.head()

   client_id Variation
0    9988021      Test
1    8320017      Test
2    4033851   Control
3    1982004      Test
4    9294070   Control

In [12]:
df_final_experiment_clients[df_final_experiment_clients['Variation']=='Control']['client_id'].count(), df_final_experiment_clients[df_final_experiment_clients['Variation']=='Test']['client_id'].count()

(23532, 26968)

#### Who are the primary clients using this online process?

In [14]:
sorted_df = df_final_demo.sort_values(by=['bal'], ascending=False).head(10)
sorted_df

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
39358,9286288,21.0,254.0,62.5,M,3,16320040.15,6,9
63732,8339240,6.0,80.0,26.5,M,2,12838418.01,3,3
23843,7070097,11.0,133.0,53.0,M,2,8986419.77,6,9
13314,9440656,7.0,94.0,63.0,F,2,8292996.21,6,9
2171,2291985,7.0,85.0,41.0,M,2,8247729.97,1,4
20865,1678193,24.0,299.0,65.5,M,3,8137343.24,6,9
31803,6762377,16.0,193.0,41.5,F,3,8045102.60,6,9
14052,3519657,18.0,218.0,66.5,M,6,7741994.01,6,9
21178,987970,14.0,179.0,74.5,M,3,7339443.17,4,9
33214,857273,31.0,376.0,56.5,M,5,6716305.28,6,9

#### Are the primary clients younger or older?

In [15]:
mean_age_all = round(df_final_demo['clnt_age'].mean(),0)
mean_age_primary = round(sorted_df['clnt_age'].mean(),0)
print(f'Older. The average age for the primary clients is: {mean_age_primary} '
      f'\n      higher than the avg age of all clients which is: {mean_age_all}')

Older. The average age for the primary clients is: 55.0
      higher than the avg age of all clients which is: 46.0

#### New or long-standing?

In [16]:
mean_tenure_all = round(df_final_demo['clnt_tenure_mnth'].mean(),0)
mean_tenure_primary = round(sorted_df['clnt_tenure_mnth'].mean(),0)
print(f'Yes. The average tenure for the primary clients is: {mean_tenure_primary} months '
      f'\n      higher than the avg tenure of all clients which is: {mean_tenure_all} months')

Yes. The average tenure for the primary clients is: 191.0 months
      higher than the avg tenure of all clients which is: 151.0 months

### Next, carry out a client behaviour analysis to answer any additional relevant questions you think are important.

In [17]:
print(f'The mean age of the clients is {round((df_final_demo['clnt_age'].mean()),0)} years old')

The mean age of the clients is 46.0 years old

In [18]:
print(f'The mean calls from clients in the last 6 months is {round((df_final_demo['calls_6_mnth'].mean()),0)} calls')

The mean calls from clients in the last 6 months is 3.0 calls